<div id="contentArea" class="col s12 m11 l11">
	<!-- <div materialize id="slider" class="slider"> -->
		<!-- <div class="logo-wrapper">
			<img src="assets/img/ieeelogo.svg" alt="">
			<b>IEEE at UCI</b> -->
		<!-- </div> -->
		<!-- <ul class="slides">
			<li>
				<img src="assets/img/event-pictures/Soldering_1.jpg" alt="">
			</li>
			<li>
				<img src="assets/img/event-pictures/IEEExtreme2018_1.jpg" alt="">
			<li>
				<img src="assets/img/event-pictures/Soldering_2.jpg" alt="">
			</li>
			<li>
				<img src="assets/img/event-pictures/IEEExtreme2018_2.jpg" alt="">
			</li>
		</ul> -->
	<!-- </div> -->
	<div class="nav-wrapper">
		<div class="container topc sidenav-trigger">
			<!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->

			<div class="row">
				<div class="col m7">
					<h1>Welcome to IEEE at UCI!</h1>
					<p>IEEE at UCI is a place for EECS majors to collaborate, socialize, and study together.</p>
					<div class="slider" style="height: 40%;">
						<ul class="slides transparent">
							<li style="background: transparent;">
								<img src="assets/img/event-pictures/Soldering_1.jpg" alt="">
							</li>
							<li style="background: transparent;">
								<img src="assets/img/event-pictures/IEEExtreme2018_1.jpg" alt="">
							<li style="background: transparent;">
								<img src="assets/img/event-pictures/Soldering_2.jpg" alt="">
							</li>
							<li style="background: transparent;">
								<img src="assets/img/event-pictures/IEEExtreme2018_2.jpg" alt="">
							</li>
						</ul>
					</div>
				</div>
				<div class="col m5">
					<a routerLink="/get-involved" class="waves-effect waves-light btn" style="top:1.4rem;">Become a Member</a>
					<p></p>
					<a routerLink="/sponsors" class="waves-effect waves-light btn" style="top:1.4rem;">Our Sponsors</a>
					<br>
					<br>
					<br>
					<br>
					<iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showTabs=0&amp;showTz=0&amp;mode=AGENDA&amp;height=500&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ieee.ucirvine%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="350" height="500" frameborder="0" scrolling="no"></iframe>				</div>

			</div>
			<br>

		</div>
	</div>
	<my-get-involved></my-get-involved>
	<my-calendar></my-calendar>
</div>
