body {
  overflow-x: hidden;
  overflow-y: hidden;
}

#contentArea {
  padding: 0;
  overflow: hidden;
  width: auto;
  float: none;
}

.logo-wrapper img {
  display: inline;
  vertical-align: middle;
}

@media screen and (min-width: 320px) {
  .logo-wrapper img {
    width: 10rem;
    margin-left: 4.3rem;
  }
  .logo-wrapper b {
    font-size: 3rem;
    margin-left: 2rem;
    color: white;
  }
}

@media screen and (min-width: 360px) {
  .logo-wrapper img {
    width: 10rem;
    margin-left: 4.3rem;
  }
  .logo-wrapper b {
    font-size: 3rem;
    margin-left: 2rem;
    color: white;
  }
}

@media screen and (min-width: 601px) {
  .logo-wrapper img {
    display: inline;
    width: 7rem;
  }
  .logo-wrapper b {
    display: inline;
    font-size: 4rem;
    margin-left: 1rem;
    color: white;
    vertical-align: middle;
  }
}

.logo-wrapper {
  display: block;
  z-index: 4;
  position: absolute;
  width: 260px;
  top: 20%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@media screen and (min-width: 601px) {
  .logo-wrapper {
    top: 40%;
    width: 600px;
  }
}

.slides li {
  background: black;
}

.slider,
.slides,
li {
  /* height: 91vh !important; */
}

.slider .slides img {
  /* opacity: 0.6; */
}

.slides .caption {
  top: unset !important;
  bottom: 10% !important;
}

.container {
    width: auto;
    margin: 50px 5vw 50px;
    background-color: #fff;
    padding: 0 20px 20px;
    border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.075);
        -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
        -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    text-align: center;
}

.topc {
    margin-top: 130px;
}

.slider .slides li img {
    background-size: auto 30rem;
    background-repeat: no-repeat;
    background-color: transparent;
    object-fit: contain;
}

.ul .li {
  background: transparent;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #666;
    text-align: center;
}
