<div class="col s12 m1 l1">
<nav style="position:fixed; z-index:999; top:0; background-color: #006699">
	<div class="nav-wrapper">
	<div class="description brand-logo left" style="vertical-align: middle; margin-left: 1em;">
		<img src="img/ieeelogo.svg" alt="" style="vertical-align: middle; height: 40px;">
		IEEE at UCI
	</div>
	<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	<ul id="nav-mobile" style="display:flex" class="right hide-on-med-and-down">
		<li class="navCon" (click)="ontoggleNavbar()">
			<a [routerLink]="['/home']" routerLinkActive="active">
			<i aria-hidden class="fa fa-home fa-2x"></i>
			<div class="description">
				Home
			</div>
		</a>
		</li>
		<li class="navCon" (click)="ontoggleNavbar()">
			<a [routerLink]="['/events']" routerLinkActive="active">
			<i aria-hidden class="fa fa-bullhorn fa-2x"></i>
			<div class="description">
				Events
			</div>
			</a></li>
		<li class="navCon" (click)="ontoggleNavbar()">
			<a [routerLink]="['/calendar']" routerLinkActive="active">
			<i aria-hidden class="fa fa-calendar-o fa-2x"></i>
			<div class="description">
				Calendar
			</div>
			</a></li>
		<li class="navCon" (click)="ontoggleNavbar()">
			<a [routerLink]="['/board']" routerLinkActive="active">
			<i aria-hidden class="fa fa-users fa-2x"></i>
			<div class="description">
				Board
			</div>
			</a></li>
		<ul class="navCon" (click)="ontoggleNavbar()" [ngClass]="{'hover' : this.dropdown}" (mouseenter)="this.onDropdown()" (mouseleave)="this.onDropdown()">
			<a [routerLink]="['/projects']" routerLinkActive="active">
			<i aria-hidden class="fa fa-microchip fa-2x"></i>
			<div class="description" style="margin-right: 20px">
				Projects
				<i class="fas fa-caret-down arrow"></i>
			</div>
			</a>
			<ul class="dropdown-extend">
			<li *ngIf="dropdown" class="description" >
				<a [routerLink]="['/projects']" routerLinkActive="active">
				General
				</a>
			</li>
			<li *ngIf="dropdown" class="description">
				<a [routerLink]="['/micromouse']" routerLinkActive="active">
				Micromouse
				</a>
			</li>
			</ul>
		</ul>
		<li class="navCon" (click)="ontoggleNavbar()">
      <a [routerLink]="['/sponsors']" routerLinkActive="active">
			<i aria-hidden class="fa fa-briefcase fa-2x"></i>
			<div class="description">
				Sponsors
			</div>
			</a></li>
		<li class="navCon" (click)="ontoggleNavbar()">
			<a [routerLink]="['/lab']" routerLinkActive="active">
			<i aria-hidden class="fa fa-map-o fa-2x"></i>
			<div class="description">
				Lab Room
			</div>
			</a></li>
		<li class="navCon" (click)="ontoggleNavbar()">
			<a [routerLink]="['/get-involved']" routerLinkActive="active">
			<i aria-hidden class="fa fa-user-plus fa-2x"></i>
			<div class="description">
				Get Involved
			</div>
			</a></li>
		<li class="navCon" (click)="ontoggleNavbar()">
			<a [routerLink]="['/contact']" routerLinkActive="active">
			<i aria-hidden class="fa fa-envelope fa-2x"></i>
			<div class="description">
				Contact Us
			</div>
			</a></li>
		<li class="navCon" (click)="ontoggleNavbar()">
			<a [routerLink]="['/about']" routerLinkActive="active">
			<i aria-hidden class="fa fa-info-circle fa-2x"></i>
			<div class="description">
				About
			</div>
			</a></li>
		</ul>
		</div>
		</nav>

		<ul class="sidenav sidenav-close" id="mobile-demo">
				<li >
					<a [routerLink]="['/home']" routerLinkActive="active">
					<i aria-hidden class="fa fa-home fa-2x"></i>
					<div class="description">
						Home
					</div>
				</a>
				</li>
				<li >
					<a [routerLink]="['/events']" routerLinkActive="active">
					<i aria-hidden class="fa fa-bullhorn fa-2x"></i>
					<div class="description">
						Events
					</div>
					</a></li>
				<li>
					<a [routerLink]="['/calendar']" routerLinkActive="active">
					<i aria-hidden class="fa fa-calendar-o fa-2x"></i>
					<div class="description">
						Calendar
					</div>
					</a></li>
				<li >
					<a [routerLink]="['/board']" routerLinkActive="active">
					<i aria-hidden class="fa fa-users fa-2x"></i>
					<div class="description">
						Board
					</div>
					</a></li>
				<li >
					<a [routerLink]="['/projects']" routerLinkActive="active">
					<i aria-hidden class="fa fa-microchip fa-2x"></i>
					<div class="description">
						Projects
					</div>
					</a></li>
				<li >
		      <a [routerLink]="['/sponsors']" routerLinkActive="active">
					<i aria-hidden class="fa fa-briefcase fa-2x"></i>
					<div class="description">
						Sponsors
					</div>
					</a></li>
				<li >
					<a [routerLink]="['/lab']" routerLinkActive="active">
					<i aria-hidden class="fa fa-map-o fa-2x"></i>
					<div class="description">
						Lab Room
					</div>
					</a></li>
				<li >
					<a [routerLink]="['/get-involved']" routerLinkActive="active">
					<i aria-hidden class="fa fa-user-plus fa-2x"></i>
					<div class="description">
						Get Involved
					</div>
					</a></li>
				<li >
					<a [routerLink]="['/contact']" routerLinkActive="active">
					<i aria-hidden class="fa fa-envelope fa-2x"></i>
					<div class="description">
						Contact Us
					</div>
					</a></li>
				<li >
					<a [routerLink]="['/about']" routerLinkActive="active">
					<i aria-hidden class="fa fa-info-circle fa-2x"></i>
					<div class="description">
						About
					</div>
					</a></li>
  </ul>
</div>
<div class="bodyDiv">

    <router-outlet></router-outlet>
</div>
