<div class="container topc">
	<div class="avatar-flip">
		<img src="img/board/keenan-lau.png" alt="" height="150" width="150">
	</div>
	<h2>Keenan Lau</h2>
	<h4>PRESIDENT</h4>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/board/jacobis-soriano.png" alt="" height="150" width="150">
	</div>
	<h2>Jacobis Soriano</h2>
	<h4>VICE PRESIDENT</h4>
	<p></p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/board/2019-2020/nathan-bernardo.jpg" alt="" height="150" width="150">
	</div>
	<h2>Nathan Bernardo</h2>
	<h4>INDUSTRY CORRESPONDENT</h4>
	<p>
		Hi y’all!  My name is Nathan (some call me Nate Dog), and I am pursuing an Electrical Engineering degree.  I’m a theorist, so I am useless at the moment (just kidding).  I am very interested in Computer Vision, so I spend most of my time learning and practicing Artificial Intelligence (pretty fun if you ask me).   Besides my studious life, I do read books.  One of my favorite books is “WasteLand,” by T.S. Elliot.  I love baking chocolate chip cookies.  A fun fact that I usually tell everyone: I had my own small cookie business in high school.  I am a wholesome boi, but don’t ask me how I’m doing because small talks are boring.
	</p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/board/jack-wilson.png" alt="" height="150" width="150">
	</div>
	<h2>Jack Wilson</h2>
	<h4>TREASURER</h4>
	<p></p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/board/AlanWong2.png" alt="" height="150" width="150">
	</div>
	<h2>Alan Wong</h2>
	<h4>WEBMASTER</h4>
	<p>Alan is a third year Computer Science and Engineering student. Some of his passions are embedded systems, web development, and computer architecture. He enjoys following tech news whether it be smartphones or new CPUs and esports, playing video games like Tekken, and going to the gym.<p>
	<p>Alan joined IEEE in his first year wanting to meet and hang out with other EECS majors and learned web development through IEEE. Alan hopes to give more opportunities </p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/board/samuel-bondoc.jpg" alt="" height="150" width="150">
	</div>
	<h2>Samuel Bondoc</h2>
	<h4>MEDIA COORDINATOR</h4>
	<p><p>

</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/board/2019-2020/jonathan-low.jpeg" alt="" height="150" width="150">
	</div>
	<h2>Jonathan Low</h2>
	<h4>LAB MANAGER</h4>
	<p>Jonathan is a second year Computer Science and Engineering major with an interest in control systems and IoT devices. He enjoys playing around with circuits and designing PCBs. In his free time, Jonathan likes to bike, go to the gym, and try new food places.</p>
	<p>Jonathan joined IEEE in his second year after attending their Texas Instruments power system workshop and being apart of Micromouse. He also came to IEEE to meet people with similar interests and learn more about electronics.</p>
	<p>This year, Jonathan plans to assist with creating new projects and workshops. He also wants to help new members on EECS related projects or questions they may have.</p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/people/anthony-skoury.jpg" alt="" height="150" width="150">
	</div>
	<h2>Anthony Skoury</h2>
	<h4>SECRETARY</h4>
	<p></p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/board/samuel-deans.png" alt="" height="150" width="150">
	</div>
	<h2>Samuel Deans</h2>
	<h4>PROJECT COORDINATOR</h4>
	<p></p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/board/marshall.png" alt="" height="150" width="150">
	</div>
	<h2>Marshall </h2>
	<h4>EVENT COORDINATOR</h4>
	<p></p>
</div>

<div class="container">
	<div class="avatar-flip">
		<img src="img/board/sofia-b.png" alt="" height="150" width="150">
	</div>
	<h2>Sofia B</h2>
	<h4>EVENT COORDINATOR</h4>
	<p></p>
</div>
